<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EtiquetadoAutomaticoSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="EtiquetadoAutomaticoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://etiquetado.gnoss.com/etiquetadoautomatico.asmx" binding="basicHttpBinding" bindingConfiguration="EtiquetadoAutomaticoSoap" contract="EtiquetadoAutomaticoSOAP.EtiquetadoAutomaticoSoap" name="EtiquetadoAutomaticoSoap" />
            <endpoint address="http://etiquetado.gnoss.com/etiquetadoautomatico.asmx" binding="customBinding" bindingConfiguration="EtiquetadoAutomaticoSoap12" contract="EtiquetadoAutomaticoSOAP.EtiquetadoAutomaticoSoap" name="EtiquetadoAutomaticoSoap12" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>